.listing-show-header
	.actions
		- if can? :update, Calculator
			= link_to edit_admin_calculator_path(@calculator), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%center.color-title= @calculator.name.to_s.humanize
		%table.bordered
			%tbody
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
					%td
						.display-value.fs-body-1.tc-black-2= @calculator.id
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
					%td
						.display-value.fs-body-1.tc-black-2= @calculator.name.blank? ? '----------' : @calculator.name
				%tr
					%th
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.value")
					%td
						.display-value.fs-body-1.tc-black-2= @calculator.value.blank? ? '----------' : @calculator.value
		%table.bordered
			%tbody
				%td
					%center
						= link_to t('keppler.actions.back_history'), admin_calculators_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
