/%script{:src => "https://code.highcharts.com/stock/highstock.js"}
%script{:src => "https://code.highcharts.com/stock/modules/exporting.js"}
= title(t('keppler.titles.show', model: "Charts"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Chart
				= link_to admin_chart_path(@chart), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Chart
				= link_to edit_admin_chart_path(@chart), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_charts_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%center.color-title= @chart.name.to_s.humanize
				%table.bordered
					%tbody
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
							%td
								.display-value.fs-body-1.tc-black-2= @chart.id.to_s.humanize
						%tr
							%th
								.display-label Nombre
							%td
								.display-value.fs-body-1.tc-black-2= @chart.name.blank? ? '----------' : @chart.name
						%tr
							%th
								.display-label Archivo
							%td
								.display-value.fs-body-1.tc-black-2= @chart.file.blank? ? '----------' : @chart.file.to_s.split("/").last
			= un_chart(@chart.id)
-# 			#chartdiv{:style => "width: 100%; height: 400px;"}
-# :javascript
-# 	var chart;
-#
-# 	var chartData = "#{convert_to_amcharts_json(@chart.id)}";
-#
-#
-# 	AmCharts.ready(function () {
-# 	// SERIAL CHART
-# 	chart = new AmCharts.AmSerialChart();
-# 	chart.dataProvider = chartData;
-# 	chart.categoryField = "email";
-# 	// the following two lines makes chart 3D
-# 	chart.depth3D = 20;
-# 	chart.angle = 30;
-#
-# 	// AXES
-# 	// category
-# 	var categoryAxis = chart.categoryAxis;
-# 	categoryAxis.labelRotation = 90;
-# 	categoryAxis.dashLength = 5;
-# 	categoryAxis.gridPosition = "start";
-#
-# 	// value
-# 	var valueAxis = new AmCharts.ValueAxis();
-# 	valueAxis.title = "Most Active users";
-# 	valueAxis.dashLength = 5;
-# 	chart.addValueAxis(valueAxis);
-#
-# 	// GRAPH
-# 	var graph = new AmCharts.AmGraph();
-# 	graph.valueField = "sign_in_count";
-# 	graph.colorField = "color";
-# 	graph.balloonText = "<span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>";
-# 	graph.type = "column";
-# 	graph.lineAlpha = 0;
-# 	graph.fillAlphas = 1;
-# 	chart.addGraph(graph);
-#
-# 	// CURSOR
-# 	var chartCursor = new AmCharts.ChartCursor();
-# 	chartCursor.cursorAlpha = 0;
-# 	chartCursor.zoomable = false;
-# 	chartCursor.categoryBalloonEnabled = false;
-# 	chart.addChartCursor(chartCursor);
-#
-# 	// WRITE
-# 	chart.write("chartdiv");
-# 	});

:scss
	th{width:20%;}


:javascript
	var clientToken = "#{@token}";
	console.log(clientToken);
