%script{:src => "https://code.highcharts.com/stock/modules/exporting.js"}
= title(t('keppler.titles.show', model: "Charts"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Chart
				= link_to admin_chart_path(@chart), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Chart
				= link_to edit_admin_chart_path(@chart), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_charts_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%center.color-title= @chart.name.to_s.humanize
				%table.bordered
					%tbody
						%tr
							%th
								.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
							%td
								.display-value.fs-body-1.tc-black-2= @chart.id.to_s.humanize
						%tr
							%th
								.display-label Nombre
							%td
								.display-value.fs-body-1.tc-black-2= @chart.name.blank? ? '----------' : @chart.name
						%tr
							%th
								.display-label Archivo
							%td
								.display-value.fs-body-1.tc-black-2= @chart.file.blank? ? '----------' : @chart.file.to_s.split("/").last
			= un_chart(@chart.id)
:scss
	th{width:20%;}
